
  h1 {
            color: skyblue;
        }
        #header{
            width:90%;
            height:150px;
            margin-left:30px;
            margin-right:20px;
            padding:5px;
    
        }
        #left{
            float:left;
            margin-left:75px;
        }
        #center{
            float:left;
            margin-left:100px;
            text-align:center;
            margin-top:5px;
        }
        #right{
            float:right;
            font-family:Arial;
            font-size:20px;
            margin-top:2px;
            margin-right:123px;
            padding-bottom:5px;
        }
        #main{
          border:1px solid black;
            padding:5px;
            height:50px;
            position:relative;
            margin-left:110px;
            width:75%;
            display:block;
        }
       
        #section{
            width:76%;
            height:auto;
            margin-left:110px;
            margin-top:4px;
        }
        #first{
            position:fixed;
            height:auto;
            width:50%;
            float:left;
            position:relative;
        }
        #second {
            position:relative;
            float: right;
            width: 25%;
            height:auto;
            padding: 5px;
            margin-top:1px;
            margin-right:0px;
        }
       
      
        .nav{
            border:none;   
            width:90%;
            float:right;
            margin-top:5px;
        
        } 
      .footer_link{
          overflow:hidden;
          padding:13px 0 0px 45px;
          border-bottom:1px solid black;
          border-top:1px solid black;
         
      }
      
      .footer_link_common_bx{
          float:left;
          padding:10px;
          margin-left:110px;
      }
      .footer_link_title{
          border-bottom:2px solid #9b9b9b;
          color:#000000;
          font-size:15px;
          font-weight:bold;
          margin-bottom:10px;
          padding-bottom:4px;
          text-transform:uppercase;
      }
      div{
          display:block;
      }
      .welcome_text{
          border-left:1px solid #d1d1d1;
          border-right:1px solid #d1d1d1;
          border-top:1px solid #d1d1d1;
          overflow:hidden;
          margin-left:10%;
          margin-right:10%;
          width:73%;
          
      }
      .welcomeHometext{
              font-family: Arial;
             font-size: 13px;
              color: #000000;
            margin-bottom: 20px;
             margin-top: 10px;
      }
      .welcome_right_text{
          float:left;
          padding:20px;
          text-align:justify;
          width:34%;
      }
      .welcomeHomeMore{
          font-family:Arial;
          font-size:17px;
          font-weight:bold;
          margin-bottom:20px;
          
      }
      .welcomeHome{
          text-align:left;
          font-size:17px;
          font-family:Arial;
          font-weight:bold;
          padding:20px;
          color:blue;
          font-weight:bold;
      }
      #Product{
          width:70%;
          margin-left:133px;
          border:1px solid black;   
          float:left;
          padding:20px;
      }
      .Productname{
          float:left;
          margin-left:10px;
          padding:20px;
          width:100%;
          display:block;
        
      }
      #ProductInfo{
          float:left;
          margin-left:15px;
          padding:20px;
      }
      #media{
          width:50%;
          margin-left:30px;
      }
      #Tara{
          border-bottom:1px solid black;
          border-top:1px solid black;
      }
      
      .footer_payment_option{
          color:#000000;
          font-size:20px;
          margin-bottom:4px;
          padding-bottom:4px;
          text-transform:uppercase;
          margin-left:170px;

      }
  



















